@import "dropzone/dist/dropzone.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e8f8ff;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#form {
    text-align: center;
}

.btn {
    margin: 1rem auto;
    padding: 10px 25px;
    background: #2bc0d1;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.image {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;

    &__preview {
        width: 250px;
        height: 250px;
        background-position: center;
        background-size: cover;
        position: relative;

        &:hover {
            .image__name {
                opacity: 1;
            }
        }

        .image__name {
            opacity: 0;
            transition: .1s ease-in-out;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            background: #00000042;
            color: white;
        }
    }

    &__date {
        font-size: 12px;
        color: #40839d;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__download {
        height: 25px;
    }
}

img {
    max-height: 100%;
}

.sort {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    &__field {
        select {
            border: none;
            border-radius: 10px;
            padding: 10px;
            outline: none;
            cursor: pointer;
        }
    }

    &__btn {
        border: none;
        background: #2bc0d1;
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }
}
